@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

body a, html a {
  text-decoration: none;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("main_hero.svg");
  background-repeat: no-repeat;
  background-position: 329px -1264px;
  background-size: 2525px 2571px;
  background-color: #F2F2F2;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-top: 50px;
  margin-right: 180px;
  font-weight: 100;
  font-size: 30px;
}

header nav ul li a {
  color: #EE99AA;
  transition: 0.5s;
}

header nav ul li a.contact {
  color: #ffffff;
}

header nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #808080;
  transition: width .3s;
}

header nav ul li a:hover::after {
  width: 100%;
}

header nav ul li a:hover {
  color: #808080;
}

header h1 {
  font-weight: bold;
  font-size: 125px;
  color: #808080;
  margin-left: 150px;
  margin-top: 35px;
  height: 300px;
}

header .typing_name {
  position: relative;
}

header .typing_name::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 70%;
  border-right: 3px solid #808080;
  top: 18px;
  animation: blink 0.6s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header h2 {
  color: #EE99AA;
  margin-left: 150px;
  margin-top: 50px;
  font-weight: 100;
  font-size: 50px;
}

header .pink_btn {
  width: 218px;
  height: 52px;
  display: inline-block;
  margin-left: 230px;
  margin-top: 150px;
  color: #050505;
  font-weight: 100;
  font-size: 38px;
  position: relative;
  padding: 10px 25px;
  z-index: 1;
}

header .pink_btn::before {
  content: "";
  right: 25px;
  top: 14px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFBBCC;
  border-radius: 30px;
  z-index: -1;
  transition: 0.5s;
}

header .pink_btn:hover::before {
  right: 13px;
  top: 4px;
}

header .pink_btn::after {
  content: "";
  right: 12px;
  top: 3px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: #808080;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  opacity: 1;
  z-index: 1;
}

.about_me {
  height: 100vh;
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
}

.box {
  height: 355px;
  width: 418px;
  background-color: #FFBBCC;
  box-shadow: 14px 28px 38px -17px rgba(0, 0, 0, 0.59);
  position: relative;
  left: -428px;
  top: 50px;
  z-index: 1;
}

.box::after {
  content: "";
  width: 538px;
  height: 455px;
  background-color: transparent;
  border: 4px solid #808080;
  display: block;
  position: relative;
  top: -24px;
  left: -162px;
}

.second_box {
  height: 305px;
  width: 418px;
  background-color: #BFBFBF;
  box-shadow: 14px 28px 38px -17px rgba(0, 0, 0, 0.59);
  position: relative;
  left: -428px;
  top: -40px;
  z-index: 0;
}

.third_box {
  height: 310px;
  width: 358px;
  background-color: #FFBBCC;
  box-shadow: 14px 28px 38px -17px rgba(0, 0, 0, 0.59);
  position: relative;
  left: -368px;
  top: -100px;
  z-index: 0;
}

.photo_hero {
  height: 900px;
  position: relative;
  top: -931px;
  left: 150px;
  z-index: 5;
}

.copy_section {
  display: flex;
  align-items: center;
}

.copy_about_me {
  color: black;
  margin-left: 600px;
  width: 500px;
  height: 1400px;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  position: absolute;
  right: -600px;
}

.copy_about_me::before {
  content: "";
  width: 550px;
  height: 450px;
  background-color: transparent;
  border: 4px solid #707070;
  display: block;
  position: relative;
  top: 369px;
  left: -23px;
  z-index: 1;
}

.copy_about_me::after {
  content: "";
  width: 550px;
  height: 450px;
  border: 4px solid #707070;
  display: block;
  position: relative;
  top: -369px;
  left: -59px;
}

.portfolio {
  height: 100vh;
  width: 100%;
  background-color: green;
}

.contact_scroll {
  height: 100vh;
  width: 100%;
  background-color: pink;
}
